name: Django CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Django system check
  env:
    SECRET_KEY: ${{ secrets.SECRET_KEY }}
    DEBUG: ${{ secrets.DEBUG }}
    ALLOWED_HOSTS: ${{ secrets.ALLOWED_HOSTS }}
  run: |
    python backend/manage.py check

