body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
}

form {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
